<section class="dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Update a
      player</h2>
    <form action="/players/api/update" method="post">
      <input name="_id" type="hidden" value="{{player._id}}" />
      <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
        <div class="sm:col-span-2">
          <label
            for="name"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Name</label>
          <input
            type="text"
            name="name"
            id="name"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Player's name"
            required=""
            value="{{player.name}}"
          />
        </div>
        <div class="w-full">
          <label
            for="brand"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Image URL</label>
          <input
            type="text"
            name="image"
            id="brand"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Image URL"
            required=""
            value="{{player.image}}"
          />
        </div>
        <div class="w-full">
          <label
            for="price"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Club</label>
          <input
            type="text"
            name="club"
            id="brand"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="Club"
            required=""
            value="{{player.club}}"
          />
        </div>
        <div>
          <label
            for="category"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Position</label>
          <select
            name="position"
            id="category"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            value="{{player.position}}"
          >
            {{#each selection}}
              {{#if this.selected}}
                <option
                  value="{{this.content}}"
                  selected
                >{{this.content}}</option>
              {{else}}
                <option value="{{this.content}}">{{this.content}}</option>
              {{/if}}
            {{/each}}
          </select>
        </div>
        <div>
          <label
            for="item-weight"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Goals</label>
          <input
            value="{{player.goals}}"
            type="number"
            name="goals"
            id="item-weight"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            placeholder="12"
            required=""
          />
        </div>
        <div>
          {{#if player.isCaptain}}
            <input
              checked
              id="default-checkbox"
              type="checkbox"
              name="isCaptain"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
          {{else}}
            <input
              id="default-checkbox"
              type="checkbox"
              name="isCaptain"
              class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
            />
          {{/if}}
          <label
            for="default-checkbox"
            class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300"
          >Is Captain</label>
        </div>
      </div>
      <button
        type="submit"
        class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-blue-600 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-blue-700"
      >
        Update
      </button>
    </form>
  </div>
</section>